body {
  background-color: aqua;
}
// .profile {
//   width: fit-content;
// }
.icon {
  width: 20px;
  height: 20px;
}

nav a {
  margin-left: 20px;
}

nav a:link {
  text-decoration: none;
  color: green;
}

nav a:visited {
  text-decoration: none;
  color: green;
}

nav a:hover {
  color: yellowgreen;
}

// .icon {
//   display: inline-block;
//   width: 1em;
//   height: 1em;
  // stroke-width: 0;
  // stroke: currentColor;
  // fill: currentColor;
// }